{% set dados = poltronas[poltrona|strpad(2)] %}
{% set ocupada = dados['status'] == 'ocupada' %}


<button type="button"
        class="btn btn-{{ ocupada ? 'secondary' : 'success' }} btn-block {{ ocupada ? 'disabled' : '' }}"
        title="{{ dados.nomePassageiro|default('')|upper }}">
    {{ poltrona|strpad(2) }}  {{ ocupada ? '<i class="fas fa-ban"></i>' : '' }}
</button>
