<div class="tab-pane fade" id="compras" role="tabpanel" aria-labelledby="compras-tab">

    {% if e.id %}
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h5>Compras</h5>
                    </div>
                </div>

            </div>

            <div class="card-body">

                <div class="table-responsive-sm">
                    <table class="table table-sm table-striped table-hover">

                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Data</th>
                            <th scope="col">Status</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Total</th>
                            <th scope="col">Obs</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for compra in e.compras %}
                            <tr>
                                <td>{{ compra.id|strpad(9) }}</td>
                                <td>{{ compra.dtCompra|date('d/m/Y H:i') }}</td>
                                <td>{{ compra.status }}</td>
                                <td>
                                    <div class="float-left">
                                        {{ compra.cliente.cpf|mascararCnpjCpf }} - {{ compra.cliente.nome }}<br>
                                        {{ compra.cliente.email }}
                                    </div>
                                    <div class="text-right">
                                        <a role="button"
                                           data-url="{{ url('tur_viagem_reenviarEmailCompraEfetuada', {'compra' : compra.id}) }}"
                                           data-token="{{ csrf_token('reenviarEmailCompraEfetuada') }}"
                                           data-target="#confirmationModal" data-toggle="modal"
                                           class="btn btn-sm btn-info" title="Reenviar o e-mail ao cliente"><i class="far fa-envelope"></i></a>
                                    </div>
                                </td>
                                <td class="text-right">{{ compra.valorTotal|number_format(2,',','.') }}</td>
                                <td class="text-right"><small>
                                        NSU: {{ compra.jsonData.pagarme_transaction.nsu|default('N/D') }} /
                                        {{ compra.jsonData.pagarme_transaction.card.brand|default('N/D')|upper }} /
                                        Últ 4 díg: {{ compra.jsonData.pagarme_transaction.card.last_digits|default('****') }}
                                        <br>
                                        {% if (compra.jsonData.dadosPassageiros) %}
                                            {% for passageiro in compra.jsonData.dadosPassageiros %}
                                                <i>{{ passageiro.nome|upper }} - Poltrona {{ passageiro.poltrona }}</i><br>
                                            {% endfor %}
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>


            </div>
        </div>
    {% endif %}

</div>
