{% extends 'Turismo/App/form_passagem_base.html.twig' %}


{% block conteudo %}

    <div class="card">

        <div class="card-header">


            <div class="row">
                <div class="col-12">
                    <h3>Resumo</h3>
                </div>

            </div>

        </div>

        <div class="card-body">

            <div class="row">
                <div class="col">
                    {% include '@CrosierLibBase/Util/flashesOnAlerts.html.twig' %}
                </div>
            </div>


            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>De {{ viagem.itinerario.origemCidade }}-{{ viagem.itinerario.origemEstado }}
                            até {{ viagem.itinerario.destinoCidade }}-{{ viagem.itinerario.destinoEstado }}</strong>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Saída: {{ viagem.dtHrSaida|date('d/m/Y H:i') }}<br>
                        Retorno: {{ viagem.dtHrRetorno|date('d/m/Y H:i') }}<br>
                    </h6>
                    <p class="card-text">
                        Total Passagens:
                        <strong>R$ {{ app.session.get('totais').passagens|number_format(2,',','.') }}</strong><br/>
                        Total Bagagens Extra:
                        <strong>R$ {{ app.session.get('totais').bagagens|number_format(2,',','.') }}</strong><br/>
                        Total Taxas:
                        <strong>R$ {{ app.session.get('totais').taxas|number_format(2,',','.') }}</strong><br/>
                    <hr/>
                    Total Geral:
                    <strong>R$ {{ app.session.get('totais').geral|number_format(2,',','.') }}</strong><br/>
                    </p>
                </div>
            </div>

            {% if app.session.get('dadosPassageiros')|default(false) %}
                {% for dadoPassageiro in app.session.get('dadosPassageiros') %}

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>{{ dadoPassageiro.nome }}</strong>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Poltrona: {{ dadoPassageiro.poltrona }}<br/>
                                RG: {{ dadoPassageiro.rg }}<br/>
                                Telefone: {{ dadoPassageiro.fone }}<br/>
                            </h6>
                            <p class="card-text">
                                Passagem:
                                <strong>R$ {{ dadoPassageiro.valorPassagem|number_format(2,',','.') }}</strong><br/>
                                Taxas:
                                <strong>R$ {{ viagem.valorTaxas|number_format(2,',','.') }}</strong><br/>
                                {% if dadoPassageiro.total_bagagens|default(false) %}
                                    Bagagens extra:
                                    <strong>R$ {{ dadoPassageiro.total_bagagens|number_format(2,',','.') }}</strong>
                                    <br/>
                                {% endif %}
                            </p>
                            <hr/>
                            <p class="card-text">Total:
                                <strong>R$ {{ dadoPassageiro.total|number_format(2,',','.') }}</strong></p>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}

            {% if not (app.session.get('idClienteLogado')|default(false)) %}
                <div class="card text-white bg-info mb-3">
                    <div class="card-header"><h3>Para continuar, informe seu CPF</h3></div>
                    <div class="card-body">
                        <form action="{{ url('tur_app_compra_checkCPF') }}" method="post">

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" id="cpf" name="cpf"
                                               class="form-control cpf" required
                                               value="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="btnAvancar">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary btn-block" id="btnAvancar"
                                            title="Avançar">
                                        <i class="fas fa-forward"></i> Avançar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="btnAvancar">&nbsp;</label>
                                <a role="button" class="btn btn-primary btn-block" id="btnPagamento"
                                   title="Pagamento" href="{{ url('tur_app_compra_pagto') }}">
                                    <i class="fas fa-file-invoice-dollar"></i> Pagamento
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>

{% endblock %}
