{% extends 'Turismo/App/form_passagem_base.html.twig' %}


{% block conteudo %}

    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h3>Viagens Disponíveis</h3>
                </div>
            </div>
        </div>

        <div class="card-body">

            {% for viagem in viagens %}

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="nav-icon fas fa-map-signs"></i>
                            <strong>{{ viagem.itinerario.descricaoMontada }}</strong>
                        </h4>
                        {% if viagem.agencia.id != 1 %}
                            <div class="alert alert-primary" role="alert">
                                Por <i>{{ viagem.agencia.nome }}</i>
                            </div>
                        {% endif %}
                        <p>
                            {{ viagem.obs|raw }}
                        </p>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Saída: {{ viagem.dtHrSaida|date('d/m/Y H:i') }}<br>
                            Retorno: {{ viagem.dtHrRetorno|date('d/m/Y H:i') }}<br>
                        </h6>
                        {# <p class="card-text">Valor: #}
                        {# <strong>R$ {{ viagem.getValorPassagemComTaxas()|number_format(2,',','.') }}</strong></p> #}

                        <div class="row">
                            <div class="col text-right">
                                <a href="{{ url('tur_app_compra_opcaoCompra', {'viagem': viagem.id}) }}"
                                   class="btn btn-primary"><i class="fas fa-check"></i> Selecionar</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}
