{% extends 'Turismo/App/form_passagem_base.html.twig' %}


{% block conteudo %}

    <div class="card">

        <div class="card-header">


            <div class="row">
                <div class="col-sm-2">
                    <h3>Viagens</h3>
                </div>
                <div class="col-sm-10 text-right">
                    {% if not (app.session.get('idClienteLogado')|default(false)) %}
                        <a role="button" href="{{ url('tur_app_login') }}" class="btn btn-primary">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    {% else %}
                        <a role="button" href="{{ url('tur_app_menuCliente') }}" class="btn btn-primary">
                            <i class="fas fa-home"></i> Minha conta
                        </a>
                    {% endif %}
                </div>

            </div>

        </div>

        <div class="card-body">

            <div class="row">
                <div class="col">
                    {% include '@CrosierLibBase/Util/flashesOnAlerts.html.twig' %}
                </div>
            </div>

            <form action="{{ url('tur_app_compra_listarViagens') }}" method="post">

                <input type="hidden" name="csrf_token" value="{{ csrf_token('csrf_token') }}"/>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="filter_dts" class="required">Data</label>
                            <input type="text" id="filter_dts" name="filter[dts]"
                                   data-mask="00/00/0000 - 00/00/0000"
                                   style="text-align: center"
                                   class="form-control"
                                   value="{{ filter['dts']|default('') }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="filter_cidadeOrigem" class="required">Origem</label>
                            <select id="filter_cidadeOrigem" name="filter[cidadeOrigem]"
                                    class="form-control" data-options="{{ cidadesOrigens }}"
                                    data-val="{{ filter['cidadeOrigem']|default('') }}">
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="filter_cidadeDestino" class="required">Destino</label>
                            <select id="filter_cidadeDestino" name="filter[cidadeDestino]"
                                    class="form-control"
                                    data-val="{{ filter['cidadeDestino']|default('') }}">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="btnFiltrar">&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-block" id="btnFiltrar" title="Pesquisar">
                            <i class="fas fa-search"></i> Pesquisar
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock %}

{% block down_scripts %}
    {{ encore_entry_script_tags('Turismo/App/form_passagem_pesquisarViagens') }}
{% endblock %}
